.vscode/settings.json

src/article/walker_constellation_design.blg

src/article/walker_constellation_design.pdf

# LaTeX build artifacts
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
